.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: rgb(187, 124, 124);
    margin: 20% auto;
    padding: 20px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    width: 80%;
    z-index: 5; 
}

.close {
    color: rgb(17, 109, 112);
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 230, 0);
    border-radius: 7%;
    width: 35px;
    text-align: center;
}